// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.red {
    background: rgba(206, 31, 31, 0.945);
}
.green {
    background: rgba(31, 206, 104, 0.863);
}
.blue {
    background: rgba(31, 121, 206, 0.945);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
  }

  h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }

  h6{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
  }

.fas{
    padding:0;
}

.alert-group{
    display: flex;
    justify-content: space-around;
}

.flash-message{
    position: fixed;
    z-index: 99;
    padding: 0px 10px;
}

.alert{
    border-left-width: 5px;
    border-right-width: 5px;
}

.pagination-holder {
    display: flex;
    justify-content: space-around;
    height: 60px;
}

.pagination-holder nav{
    background-color: rgb(0, 0, 0, 0);
}

.pagination{
    margin: 0;
}

// NAVBAR   ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
nav{
    background-color: rgb(22, 22, 22, .90); 
    height: 80px;
    font-family: 'Lato', 'sans-serif';
    font-size: 16px;
    display: grid;
    grid-template-columns: 80px 1fr auto;
}

.navbar{
    justify-content: end;
}
.login-register .nav-link{padding: 0;}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-stock{
    display: grid;
    align-items: center;
    padding: 0px 3%;
}

.form-control{
    max-width: 500px;
}

.nav-links {
    display: flex;
    align-items: center; 
    grid-column-gap: 25px;
    margin: 0;
}

.nav-links li{
    list-style-type: none;
    align-items: center; 
}

.login-register a{
    color: #fff;
}

.profile-items .profile:hover{color:black;}

// Navbar buttons & links styling
.lg-items button, .lg-items a{
    color: rgb(253, 253, 253);
    background-color: rgba(0, 0, 0, 0);
    border: none;   
    outline: 0;
}

.nav-links li a:hover{
    text-decoration: underline;
    text-decoration-color: #2081F9;
    text-decoration-thickness: 2px;
}
.nav-links button:focus{outline: 0;}

// DROPDOWN LINKS-------------------------------------
.dropdown {
    position: relative;
    display: inline-block;
  }

  .drop-btn{padding-left: 15px;}
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2B2B2C;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top: 1px solid #C6C6C6;
  }

  .dropdown-content a{
    color: white;
    text-decoration: none;
    padding: 5px 0;
  }

  .dropdown-content li{
    padding: 15px;;
  }

  .dropdown-content li:hover{
    background-color: black;
  }
  
  .dropdown:hover .dropdown-content {display: block;}

  // DROPDOWN LINKS-------------------------------------

.dropdown-menu{
    border-radius: 0px;
    border: .5px solid rgb(22, 22, 22, .25);
    box-shadow: -4px 4px 4px rgba(22, 22, 22, .25);    
    padding: 5px 0px;
}

.profile-items a{ 
    color: #222;
}

.profile-items a:hover{
    background-color: #E2E7EF;
    text-decoration: none !important;
}

.logout{ color: rgba(206, 31, 31, 0.945)!important;}

i{
    padding-left: 3.5rem;    
}
.logout:hover{    
    background-color: rgba(206, 31, 31, 0.945)!important;
    color: rgba(255, 255, 255)!important;
    transition-duration: .5s;
}

// Hamburger button styling
.hamburger{display: none;}
.hamburger button{
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: 0px;
}
.hamburger h3{margin:0;}

.rotation-1{
    transform: rotate(180deg);
    transition-duration: .5s;
}
.rotation-2{
    transform: rotate(-180deg);
    transition-duration: .5s;
}

// Links for small screens
.responsive-navbar{
    height: 700px;
    background-color: rgba(22, 22, 22, 0.9);
    border-top: 1px solid rgba(17, 10, 10, 0.5);
    position: absolute;
    width: 100vw;
    z-index: 99;
    padding-top: 5vh;
    display: none;
    text-align: center;
}

.responsive-navbar a, .responsive-navbar button{
    font-family: 'Open Sans', 'sans serif';
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

.dropdown-item:hover, .dropdown-item:focus{
    color: #fff;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    outline: 0;
}

@media (min-width: 960px) { 
    .responsive-navbar{
        display: none;
    }
}

@media (max-width: 960px) { 
    nav { 
        .hamburger{
            display: block;
        }
        .lg-items{
            display: none;
        }
    } 
}

// Search bar ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#searchBar:focus{
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) inset, 0 0 8px rgba(255, 255, 255, 0.75);
    outline: 0 none;
}

#searchGroup {
    padding: 0px;
    z-index: 99;
    position: absolute;
    list-style-type: none;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    top: 15%;
    left: 120px;
    width: 500px;
}

#searchGroup li{
    padding-left: 10px;
    border-bottom: 1px solid #222;
}

#searchGroup li:hover{
    background-color: lightgrey;
    cursor: pointer;
}

#searchGroup li:active{
    background-color: rgb(32, 129, 249, .25);
}


// TABLES   ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// table search bar & btns  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.search-topic{
    padding: 7px 10px 7px 0px;
}

.topic-search-input{
    padding: 5px 7px;
    width: 100%;
}

.table-search-bar{
    padding: 5px 15px;
}

.topic-search-input{
    border: 1px solid #222;
    border-radius: 5px;
    outline: 0;
}

.table-header-btns{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 960px) { 
    .table-header-btns{
        padding: 15px;
        justify-content: flex-start;
    }
}

.fa-plus-circle{
    padding: 0px 2px;
}

.back-btn{
    border-width: 0px;
    font-weight: 700;
    height: 33px;
}

.form-btn,
.form-btn-alt{
    border-radius: 2px;
    padding: 7px 20px;
    margin-left: 15px;
    color: #fff;
    text-decoration: none;
}

.form-btn:hover ,
.form-btn-alt:hover {
    color: #fff;
    text-decoration: none;
}

.form-btn{
    background-color: rgba(255, 117, 40, .80);
}

.form-btn-alt{
    background-color: rgba(32, 129, 249, .80);
}

.form-btn:hover{
    background-color: rgba(255, 117, 40, 1);
}

.form-btn-alt:hover{
    background-color: rgba(32, 129, 249, 1);
}

// table body   ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.table-responsiveness{
    overflow-x: auto;
}

tbody tr:hover,
table thead:hover {
    cursor: pointer;
}

.table-hover tbody tr:hover td {
    background: rgba(32, 129, 249, .15);
}

th{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
}

td{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.pin-holder button{
    border: 0px;
    font-size: 18px;
    background-color: rgb(0, 0, 0, 0);
    outline: 0;
}

.unpin-alt {
    margin: 0px;
}

.unpin-alt i{
    font-size: 18px;
    color: #BA182B;
}

.unpin-alt-2 i{
    font-size: 18px;
    color: #BA182B;
}

.pin{color: rgba(0, 2, 34, .5);}

.pin:hover{color: #222;}

.unpin{color: rgba(186, 24, 43, .75);}

.unpin:hover{color: #BA182B;}

.trend-mark{color: #BA182B;}

.icon-cell{
    display: flex;
    justify-content: center;
}

.table-delete{
    background-color: rgb(0, 0, 0, 0);
    border: 0px;
    font-size: 18px;
    color: rgba(186, 24, 43, .80)
}

.table-delete:hover{
    color: #BA182B;
}

table tbody tr.status-banned {
    background-color: rgba(255, 0, 0, 0.1);
}

table tbody tr td.update-required {
    font-style: italic;
}

// table sorting ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

#table-visits .sort:after {
    display: inline;
    content: ' ▲';
    font-size: 8px;
}

#table-visits .sort.asc:after {
    display: inline;
    content: ' ▼';
    font-size: 8px;
}

#table-visits .sort.desc:after {
    display: inline;
    content: ' ▲';
    font-size: 8px;
}

// Radical Dsg ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.bx-cnt{
    background-color: #fff;
}

// Posts style ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.block {
    background-color: white;
}

.blue-bck {
    background-color: rgba(12, 99, 214, 0.10);
}

.bite {
    position: relative;
    display: inline-flex;
}


// Portfolio page ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.white {
    background-color: white !important;
}

.moveRight {
    margin-left: 50px;
    width: 98px;
    height: 23px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}

.walletText {
    // width: 1300px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
}

.portfolioText {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #000;

    text-decoration: none;
}

.historyText {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #000;

    text-decoration: none;
    margin-left: 15px;
}

.blockColour{
    background: #FFFFFF;
    border-radius: 10px;
}


// FORUM INDEX PAGE  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.media-holder{
    background-color: #fff;
    border-radius: 10px;
    padding: 0;
}

@media (max-width: 675px) { 
    .media-holder {margin-bottom: 30px;}
}

.media-switch,
.tab-header{
    padding: 0;
    border-bottom: 1px solid rgba(22, 22, 22, .15);
    display: flex;
}

.tab-header{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 15px;
}

.border-tab-btn{
    border-bottom: 2px solid rgba(0, 0, 0, 0) !important;
}

.underline-tab{
    border-bottom: 2px solid #2081F9 !important;
}

.media-switch button {
    background-color: rgb(0, 0, 0, 0);
    border: 0;
    padding: 15px;
    outline: 0;
}

.media-switch button h4{margin: 0;}

// Boards ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.board-lnk{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 5px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 0px 15px;
}

@media (max-width: 675px) { 
    .board-lnk{grid-gap: 0px;}
}

.board-lnk a,
#news #newsfeed li a{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #222;
    padding: 8px;
}

.board-lnk a:hover{color: #2081F9;}

.toggle-out{display: none;}

// Newsfeed ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.news-holder{padding: 0px;}

#newsfeed{
    height: 285px;
    overflow-y: auto;
}

@media (min-width: 675px) { 
    #news {height: 293.8px;}
}

#newsfeed li{
    list-style-type: none;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(22, 22, 22, .15);
}

#news #newsfeed li:hover{background-color:rgba(32, 130, 249, .15);}

// PROJECT MANAGEMENT TAB  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.tab-cnt{
    padding: 15px;
}

.list-moderators {
    margin: 0;
}

.list-moderators li{
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
}

.list-first-child{
    font-size: 18px;
}

.list-moderators li a{
    font-size: 14px;
    padding: 0px 2px;
    text-decoration: none;
}

.list-admins a{
    color: #BA182B;
}

.list-mods a{
    color: #2081F9;
}

.list-moderators li a:hover{
    color: #222;
}

// POSTS THREAD  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.post-hdr-btn{padding: 15px 0px;}

.thread{
    // padding-top: 30px;
}

.post{
    margin: 7.5px 0px;
    border: 1px solid rgba(22, 22, 22, .10);
}

.post-header{
    display: grid;
    grid-template-columns: 100px repeat(2, 1fr);
}

.post-header figure{
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}

.admin-border{
    border: 1px solid  #BA182B !important;
}

.moderator-border{
    border: 1px solid  rgba(255, 117, 40, 1) !important;
}

.experienced-border{
    border: 1px solid  #2081F9 !important;
}

.post-img{
    width: 65px;
    height: 65px;
    object-fit: fill;
    border-radius: 3px;
    margin: 0;
    border: 1px solid rgba(22, 22, 22, .10);
}

.post-data{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.post-data div p{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.post-surname p{
    padding-bottom: 15px;
    font-size: 18px;
}

.post-date p{
    padding-top: 15px;
    font-size: 11px;
    color: rgb(22, 22, 22, .60);
}

.post-btns{
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    outline: 0;
}

.post-btns div,
.post-btns form{
    padding-left: 10px;
}

.quote-btn button{
    background-color: rgb(0, 0, 0, 0);
    border: 0px;
    font-size: 18px;
    color: rgba(22, 22, 22, .75)
}

.quote-btn button:hover{
    color: rgba(22, 22, 22, 1)
}

.edit-btn button{
    background-color: rgb(0, 0, 0, 0);
    border: 0px;
    font-size: 18px;
    color: rgba(32, 129, 249, .80)
}

.edit-btn button:hover{
    color: #2081F9;
}

.post-cnt{
    border-top: 1px solid rgba(22, 22, 22, .15);
    padding: 15px 15px 0px 15px;
    margin: 0px 15px;
}

.text-post-cnt{
    padding-top: 10px;
}

.txt-post{
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(22, 22, 22, .15);
}

.txt-post:focus{
    border: 1px solid rgba(22, 22, 22, .50);
}

.post-btn{
    display: flex;
    justify-content: flex-end;
}

.post-btn button{
    border: 0px;
    margin-bottom: 15px;
}

@media (max-width: 675px) { 
    .responsive-thread{
        padding: 0px;
    }
    .post-btns{
        justify-content: flex-end;
        padding-left: 5px;
    }
    .post-header figure{
        justify-content: flex-start;
        padding-left: 15px;
    }
    .post-cnt{
        border-top: 1px solid rgba(22, 22, 22, .15);
        padding: 5px 5px 0px 5px;
        margin: 0px 5px;
    }
    .back-btn{
        margin: 0;
    }
    .text-post-cnt{
        padding: 10px 0px;
    }
}